<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <!-- Registro del proveedor SQLite para DbProviderFactories. -->
    <system.data>
      <DbProviderFactories>
        <!-- Quitar la entrada si ya existe -->
        <remove invariant="System.Data.SQLite" />
        <add name="SQLite Data Provider"
             invariant="System.Data.SQLite"
             description=".NET Framework Data Provider for SQLite"
             type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      </DbProviderFactories>
    </system.data>
</configuration>